<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" debug="true">
	<property name="app_name" value="zq-web"></property>
	<contextName>${app_name}</contextName>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logback.path}/${app_name}/info.%d{yyyy-MM-dd}.log</fileNamePattern>
			<MaxHistory>60</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				                <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符 -->
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
			</layout>
		</encoder>
	</appender>
	<appender name="SHARE_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logback.path}/share/share.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<MaxHistory>60</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符 -->
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>
			</layout>
		</encoder>
	</appender>
	<appender name="ACCESS_FILE"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logback.path}/access/access.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<MaxHistory>60</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符 -->
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>
			</layout>
		</encoder>
	</appender>
	<appender name="BROWS_FILE"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logback.path}/brows/brows.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<MaxHistory>60</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符 -->
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>
			</layout>
		</encoder>
	</appender>
	<appender name="ORDER_FILE"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logback.path}/order/order.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<MaxHistory>60</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符 -->
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>
			</layout>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />

	</root>
	<logger name="sharelog" level="INFO">
		<appender-ref ref="SHARE_FILE"></appender-ref>
	</logger>
	<logger name="accesslog" level="INFO">
		<appender-ref ref="ACCESS_FILE"></appender-ref>
	</logger>
	<logger name="browslog" level="INFO">
		<appender-ref ref="BROWS_FILE"></appender-ref>
	</logger>
	<logger name="orderlog" level="INFO">
		<appender-ref ref="ORDER_FILE"></appender-ref>
	</logger>
</configuration>