<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jellyfish.sell.product.mapper.EcProductAttributeMapper">

    <select id="listiOnlyName" resultType="java.util.Map">
        SELECT  id,name FROM tb_product_attribute WHERE status = 1
    </select>
</mapper>
